@import "_variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,900;1,300;1,400&display=swap");

html {
  font-size: 61.5%;
  font-family: "Lato", sans-serif;
  letter-spacing: 1.1px;

  background-image: $background-primary;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-position: 0;
  background-repeat: no-repeat;
  overflow-x: hidden;
  color: $dark-font;
}

* {
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  font-size: 2rem;
}

body {
  margin: 0;
  padding: 0;
  font-size: 2.4rem;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 4rem;
  margin: 2rem 2rem 3rem 2rem;
  color: $maincolor-primary;
}

h4 {
  font-size: 2.2rem;
  margin: 1rem;
}

input,
select {
  padding: 0.5em;
  height: 2.5em;
  margin: 1rem;
  border-radius: 3px;
  border: 1px solid rgba(255, 68, 0, 0.5);
  background-color: transparent;
  &:focus {
    outline: 2px solid rgba(255, 68, 0, 0.5);
  }
}

input[type="number"] {
  width: 7em;
}

input[type="checkbox"] {
}
button {
}

button {
  background: white;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  padding: 0.5em 1em;
  cursor: pointer;
  color: $dark-font;
  transition: background 0.2s ease-in-out;

  &:hover {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
    background: $maincolor-primary;
    color: white;
  }

  &:active {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  }
}

.hero_button {
  background: $maincolor-primary;
  color: white;

  &:hover {
    background: white;
    color: $maincolor-primary;
  }
}

select,
option {
  outline: none;
  font-size: 1.25rem;
  padding: 0.5em 0.75em;
  border-radius: 3px;
}

.react-icon {
  font-size: 3rem;
  margin: 0 0.25em;
}

.button_container {
  display: flex;
  align-items: center;
  justify-content: start;
}

.danger {
  color: red;
}
.success {
  color: $color-success;
}

.bold {
  font-weight: bold;
}
@media (max-width: 400px) {
  html {
    font-size: 45%;
  }

  .photo_container,
  .text_container {
    justify-self: center;
  }
}
