$cardetails-background: grey;

$lightcolor-primary: white;

// primary contrast
$maincolor-primary: orangered;

// primary background
$darker-primary: rgb(44, 44, 44);

// radius small
$border-radius--small: 3px;
