$cardetails-background: grey;

$lightcolor-primary: white;

// primary contrast
$maincolor-primary: orangered;
$maincolor-light: rgba(255, 68, 0, 0.493);

// primary background
$darker-primary: rgb(44, 44, 44);

// radius small
$border-radius--small: 3px;

//color succes
$color-success: rgb(114, 183, 11);
