$cardetails-background: grey;

$dark-font: #404040;
$light-font: white;

$lightcolor-primary: white;
$lightcolor-secondary: rgb(175, 175, 175);

// primary contrast
$maincolor-primary: orangered;
$maincolor-light: rgba(255, 68, 0, 0.493);

// primary background
$darker-primary: rgb(44, 44, 44);

// radius small
$border-radius--small: 3px;

//color succes
$color-success: rgb(114, 183, 11);

//background
$background-primary: linear-gradient(to right, #ffffff, rgba(236, 233, 230, 1));
$background-secondary: white;
