@import "_global.scss";
@import "_variables.scss";

.nav_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background: $darker-primary;
}

.nav-list {
  position: relative;
  width: auto;
  display: flex;
  flex-direction: row;
  // justify-content: space-around;
  justify-content: end;
  gap: 6rem;
  align-items: center;
  padding: 2rem;
  // background: $darker-primary;
  border-radius: 0 0 0.5rem 0.5rem;
  color: $lightcolor-primary;

  &:last-child {
    padding-right: 5rem;
  }

  a {
    color: $lightcolor-primary;
  }

  .navlink {
    &.active {
      color: $maincolor-primary;
    }
  }

  .login_btn {
    background-color: $maincolor-primary;
    color: white;
  }

  .user_container {
    display: flex;
    align-items: center;
  }

  .user_img {
    border-radius: 50%;
    width: 2em;
    height: 2em;
    margin: 0 0.75em;
    border: 2px solid $maincolor-primary;
  }
}

.cardetails_container {
  display: flex;
  color: black !important;
  // margin: 1rem auto 0 auto;
  // width: 80rem;
  width: 80rem;
  min-height: 20rem;
  padding: 2rem;
  border: 1px solid $maincolor-primary;
  border-radius: $border-radius--small;
  align-items: flex-start;
  justify-content: space-around;
  gap: 1rem;

  color: $lightcolor-primary;

  p {
    font-weight: bold;
  }
  span {
    font-weight: normal;
  }

  .cardetails__text {
    text-align: start;
    line-height: 1.5;
  }
}

.buttons {
  .btn {
    margin: 1rem 0 1rem 0;
  }
}

.single-car__img {
  max-width: 25rem;
}

.singlecar_container {
  .goback {
    margin: 1rem;
    // color: $maincolor-primary;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  table {
    margin: 2rem auto;
    width: 90%;
    text-align: start;
    // border-collapse: collapse;
  }

  th,
  td {
    // border: 1px solid black;
    padding: 8px;
    text-align: left;
    white-space: nowrap;
    // white-space: nowrap;
  }
  // table header

  th {
    padding: 1rem;
    background-color: #404040;
    color: white;
    letter-spacing: 3px;
    font-weight: normal;
  }

  tr:hover {
    background: $maincolor-light !important;
    color: white;
    fill: white;
    stroke: white;
  }

  .desc {
    font-size: 1.75rem;
  }

  .blind_row {
    border: none;
  }
  .line {
    border-top: 3px solid black;
  }
}

.newcar_container {
  margin: 3rem auto;
  width: 80%;
  border: 2px solid $maincolor-primary;
  padding: 1rem;
  border-radius: $border-radius--small;
}

.about_container {
  // min-height: 90vh;
  padding: 2rem;
  max-width: 90%;
  margin: 5rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;

  .photo_container {
    background: url("https://images.unsplash.com/photo-1551522435-a13afa10f103?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    justify-self: end;
    max-height: 30rem;
    width: 40rem;
  }

  .text_container {
    width: 40rem;
    text-align: start;
    padding: 1rem;
  }
}

.login_container {
  .login_credentials {
    margin: 0 auto;
    padding: 4rem;
    width: 40rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
  }

  .label_container {
    margin: 0.5em auto;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
  }

  h3 {
    font-size: 2.25rem;
    margin: 0;
    align-self: flex-start;
  }

  label {
    font-size: 1.5rem;
    align-self: baseline;
    margin: 0;
  }

  input {
    margin: 0;
  }
}

.loader {
  margin: 0 auto;
}

.start_container {
  position: relative;
  margin: 10rem auto 5rem auto;
  background-color: $lightcolor-primary;
  width: 70vw;
  min-height: 70vh;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.071);

  &::after {
    z-index: 1;
    content: " ";
    position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    top: 2%;
    right: 2%;

    width: 50%;
    height: 50%;
    // border-right: 10px solid $darker-primary;
    // border-top: 10px solid $darker-primary;
    border-right: 10px solid $maincolor-primary;
    border-top: 10px solid $maincolor-primary;
    border-radius: $border-radius--small;
  }

  h3 {
    margin: 1.5rem 0;
    font-size: 2.5rem;
  }

  .start_body {
    padding: 7.5rem 10rem;
    text-align: start;
  }

  .start_icon {
    z-index: 99;
    position: absolute;
    top: -4rem;
    right: -4rem;
    font-size: 12rem;
    // background-color: $maincolor-primary;
    background-color: white;
    color: $maincolor-primary;
    border-radius: 50%;
    // color: white;
    padding: 2rem;
    border: 0.75rem solid $maincolor-primary;

    // color: $darker-primary;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.481);
  }
}

.logo {
  z-index: 99;
  // position: absolut  e;
  top: 0rem;
  left: 10rem;
  font-size: 8rem;
  // background-color: $maincolor-primary;
  background-color: white;
  color: $maincolor-primary;
  border-radius: 50%;
  // color: white;
  padding: 0.9rem;
  border: 0.75rem solid $maincolor-primary;

  // color: $darker-primary;
  margin-left: 4rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.481);
}
