@import "_global.scss";
@import "_variables.scss";

.nav_container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background: $darker-primary;
}

.logo {
  z-index: 99;
  // position: absolute;
  top: 0rem;
  left: 10rem;
  font-size: 8rem;
  // background-color: $maincolor-primary;
  background-color: white;
  color: $maincolor-primary;
  border-radius: 50%;
  // color: white;
  padding: 0.9rem;
  border: 0.75rem solid $maincolor-primary;

  // color: $darker-primary;
  margin-left: 4rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.481);
}

.nav-list {
  // position: relative;
  width: auto;
  display: flex;
  flex-direction: row;
  // justify-content: space-around;
  justify-content: end;
  gap: 6rem;
  align-items: center;
  padding: 2rem;
  // background: $darker-primary;
  border-radius: 0 0 0.5rem 0.5rem;
  color: $lightcolor-primary;

  &:last-child {
    padding-right: 5rem;
  }

  a {
    color: $lightcolor-primary;
  }

  .navlink {
    &.active {
      color: $maincolor-primary;
    }
  }

  .user_container {
    display: flex;
    align-items: center;
  }

  .user_img {
    border-radius: 50%;
    width: 2em;
    height: 2em;
    margin: 0 0.75em;
    border: 2px solid $maincolor-primary;
  }

  .nav-icon {
    font-size: 3rem;
  }
}

.hero_btn {
  background-color: $maincolor-primary;
  color: white;

  &:hover {
    color: $maincolor-primary;
    background-color: white;
  }
}

.cars_container {
  display: flex;
  flex-wrap: wrap;

  .singlecar_container {
    display: flex;
    margin: 3rem auto;
    min-height: 25rem;
    max-height: 50rem;
  }
}

.cardetails_container {
  position: relative;
  display: flex;
  color: black !important;
  background: white;
  width: 60rem;
  min-height: 20rem;
  // height: 30rem;
  padding: 2rem;
  border-radius: $border-radius--small;
  align-items: flex-start;
  justify-content: space-around;
  gap: 1rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.071);
  color: $lightcolor-primary;

  &::before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: " ";
    height: 100%;
    width: 100%;
    border-left: 3px solid $maincolor-primary;
    // border-right: 3px solid $maincolor-primary;
  }

  &:hover {
    // border: 3px solid $darker-primary;
  }
  p {
    font-weight: bold;
  }
  span {
    font-weight: normal;
  }

  .cardetails__text {
    width: 50%;
    text-align: start;
    line-height: 1.5;

    p {
      font-size: 1.5rem;
    }

    span {
      font-size: 1.6rem;
    }
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 1rem;
}

.singlecar_background_container {
  width: 100%;
  height: 40rem;
  position: relative;
  margin: 10rem 0 2.5rem 0;
  overflow: hidden;
}

.singlecar_background {
  height: 40rem;
  width: 100%;
  transform: scale(105%);
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: 50% !important;
  // position: relative;
  filter: blur(8px);

  &::after {
    // z-index: 1;
    position: absolute;
    content: " ";
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: rgba(34, 34, 34, 0.774);
  }
}

.single-car__img {
  max-width: 25rem;
  max-height: 35rem;
  border: 3px solid $maincolor-primary;
  border-radius: 3px;

  &.services {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 40rem;
    height: auto;
  }
}

.singlecar_container {
  .goback {
    margin: 1rem;
    // color: $maincolor-primary;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  table {
    margin: 2rem auto;
    text-align: start;
    line-height: 1.5;
    // border-collapse: collapse;
    input {
      height: auto;
    }
  }

  th,
  td {
    padding: 12px 12px;
    text-align: left;
    white-space: nowrap;
    // text-wrap: wrap;
  }
  // table header

  .title {
    text-wrap: wrap;
  }

  th {
    padding: 1rem;
    background-color: #404040;
    color: white;
    letter-spacing: 3px;
    font-weight: normal;
  }

  tr:hover {
    background: $maincolor-light !important;
    color: white;
    fill: white;
    stroke: white;
  }

  select {
    font-size: inherit;
    border: 1px solid rgba(255, 68, 0, 0.5);
    padding: 0.5em;
    height: 2.5em;
    margin: 1rem;
  }

  .desc {
    // font-size: 1.75rem;
    min-width: 25rem;
    text-wrap: wrap;
  }

  .title {
    min-width: 20rem;
  }

  .blind_row {
    border: none;
  }
  .line {
    border-top: 3px solid black;
  }

  .sort_icon {
    color: $lightcolor-secondary;
    font-size: 1.75rem;
  }
  .table_header {
    &.active {
      span,
      svg {
        color: $maincolor-primary;
      }
    }
  }
}

.serviceform_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.input {
  position: relative;
}

.input_label {
  font-size: 1.25rem;
  position: absolute;
  top: -0.1rem;
  left: 3rem;
  // background-color: $maincolor-primary;
  // background-color: #404040;
  border-radius: $border-radius--small;
  color: white;
  padding: 0.25em 0.5em;
  font-weight: normal;
  backdrop-filter: blur(20px);
}

form {
  button {
    margin: 1rem !important;
  }

  input[type="checkbox"] {
    width: 2rem;
  }
}

.newcar_container {
  margin: 3rem auto;
  width: 80%;
  border: 2px solid $maincolor-primary;
  padding: 1rem;
  border-radius: $border-radius--small;
}

.about_container {
  // min-height: 76vh;
  padding: 2rem;
  max-width: 90%;
  margin: 5rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;

  .photo_container {
    background: url("https://images.unsplash.com/photo-1551522435-a13afa10f103?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    justify-self: end;
    max-height: 30rem;
    width: 40rem;
  }

  .text_container {
    width: 40rem;
    text-align: start;
    padding: 1rem;
    line-height: 1.3;

    h3 {
      font-size: 2.2rem;
    }
  }
}

.login_container {
  .login_credentials {
    margin: 0 auto;
    padding: 4rem;
    width: 40rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
  }

  .label_container {
    margin: 0.5em auto;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
  }

  h3 {
    font-size: 2.25rem;
    margin: 0;
    align-self: flex-start;
  }

  label {
    font-size: 1.5rem;
    align-self: baseline;
    margin: 0;
  }

  input {
    margin: 0;
  }
}

.loader {
  margin: 0 auto;
}

.start_container {
  position: relative;
  margin: 10rem auto 5rem auto;
  background-color: $lightcolor-primary;
  width: 70vw;
  min-height: 70vh;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.071);

  &::after {
    z-index: 1;
    content: " ";
    position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    top: 2%;
    right: 2%;

    width: 50%;
    height: 50%;
    // border-right: 10px solid $darker-primary;
    // border-top: 10px solid $darker-primary;
    border-right: 10px solid $maincolor-primary;
    border-top: 10px solid $maincolor-primary;
    border-radius: $border-radius--small;
  }

  h3 {
    margin: 0 0 1rem 0 !important;
    font-size: 2.2rem;
  }

  .start_body {
    padding: 7.5rem 10rem;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    line-height: 1.3;
  }

  .start_icon {
    z-index: 99;
    position: absolute;
    top: -4rem;
    right: -4rem;
    font-size: 12rem;
    // background-color: $maincolor-primary;
    background-color: white;
    color: $maincolor-primary;
    border-radius: 50%;
    // color: white;
    padding: 2rem;
    border: 0.75rem solid $maincolor-primary;

    // color: $darker-primary;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.481);
  }

  .list {
    // list-style: disc;
    margin-left: 2rem;

    &::before {
      content: "•";
      color: red;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }

  span {
    margin-top: 1rem;
    font-weight: bold;
  }
}

.footer_container {
  width: 100%;
  // position: fixed;
  bottom: 0;
  background: $darker-primary;
  color: lightgrey;
  padding: 1rem;
  font-weight: 300;
  font-style: italic;
  font-size: 1.6rem;
  margin-top: 3rem;
}

.container {
  min-height: 88vh;
}

.userdata_container {
  margin: 5rem auto;

  .userdata_body {
    margin: 0 auto;
    width: 40rem;
    min-height: 50rem;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: $lightcolor-primary;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.071);
    min-height: 75%;

    img {
      background-color: #404040;
      margin-bottom: 2rem;
      width: 20rem;
      min-height: 10rem;
      border: 3px solid $maincolor-primary;
      border-radius: $border-radius--small;
      transition: transform 0.35s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }

    .data_container {
      align-self: flex-start;

      span {
        font-size: 0.9em;
      }
    }
  }

  .name_container {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    position: relative;

    .name_input {
      position: relative;
    }

    .buttons {
      position: absolute;
      right: -3rem;
      display: flex;
      flex-direction: row;
      gap: 0;
    }
  }

  .nobutton {
    padding: 0;
    background: none;
    box-shadow: none;
    margin: auto 1rem;
    background: white;

    &:hover {
      box-shadow: none;
      // background: none;
      color: black;
    }
  }

  .icon {
    cursor: pointer;
  }
}

.filters_header {
  position: absolute;
  top: -3rem;
  display: block;
  // background: #404040;
  padding: 0.25em 0.5em;
  border-radius: $border-radius--small;
  color: #404040;
  letter-spacing: 2px;
  backdrop-filter: blur(20px);
}

.filters_container {
  position: relative;
  max-width: 40rem;
  margin: 1rem auto;
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
  // flex-wrap: wrap;
  padding: 2rem 1rem;
  // border: 1px solid #404040;
  border: 1px solid $maincolor-primary;
  border-radius: $border-radius--small;
  // background: rgba(64, 64, 64, 0.716);
  // color: white;

  button {
    font-weight: inherit;
    letter-spacing: inherit;
    background: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    &:hover {
      color: $maincolor-primary;
    }
  }

  .single_filter {
    display: flex;
    flex-direction: row;
    align-items: center;

    input {
      height: 2rem;
      width: 2rem;
      cursor: pointer;
    }
  }
}

.table_container {
  margin: 0 auto;
  width: 90%;
  overflow-y: scroll;
  max-height: 60rem;

  thead {
    position: sticky;
    top: 0;
  }

  .table_content {
    max-height: 30rem;
    overflow: auto;
  }
}

@media (max-width: 1400px) {
  table,
  td,
  th,
  tr {
    font-size: 1.5rem !important;
  }
}

@media (max-width: 900px) {
  .nav-list {
    gap: 2rem;
  }
}

@media (max-width: 700px) {
  html {
    font-size: 55%;
  }

  .nav-list {
    width: 100%;
    justify-content: space-between;
    // align-items: baseline;
    align-items: flex-start;
    gap: 1rem;

    .user_img {
      margin: 0;
      height: 3.1rem;
      width: 3.1rem;
    }

    .nav-icon {
      font-size: 3.5rem;
    }
  }

  .cardetails_container {
    width: 80vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about_container {
    .photo_container {
      justify-self: center;
    }
  }

  .start_container {
    margin-left: 0;
    margin-right: 0;
    width: 95vw;

    // &::after {
    //   border: none;
    // }

    .start_body {
      padding: 5rem;
    }

    .start_icon {
      // display: none;
      right: 2rem;
    }
  }

  .user_container {
    margin: 0;

    .userdata_body {
      width: 90vw;
      margin: 0 auto;
    }
  }

  .singlecar_container {
    td {
      padding: 0;
    }

    table {
      padding: 0;
      td,
      th,
      tr,
      .desc {
        font-size: 1rem !important;
      }
    }
  }

  .title {
    text-wrap: wrap;
    word-wrap: wrap;
  }

  .filters_container {
    gap: 1rem;
  }

  label {
    font-size: 1.5rem;
  }
}
