@import "_global.scss";
@import "_variables.scss";

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem;
  background: $darker-primary;
  border-radius: 0 0 0.5rem 0.5rem;
  color: $lightcolor-primary;

  a {
    color: $lightcolor-primary;
  }

  .navlink {
    &.active {
      color: $maincolor-primary;
    }
  }

  .login_btn {
    background-color: $maincolor-primary;
    color: white;
  }

  .user_container {
    display: flex;
    align-items: center;
  }

  .user_img {
    border-radius: 50%;
    width: 2em;
    height: 2em;
    margin: 0 0.75em;
    border: 2px solid orangered;
  }
}

.cardetails_container {
  margin: 1rem auto 0 auto;
  display: flex;
  // max-width: 70rem;
  // padding: 2rem;

  color: $lightcolor-primary;

  p {
    font-weight: bold;
  }
  span {
    font-weight: normal;
  }
}
.cardetails_body {
  display: flex;
  padding: 1rem;
  // background: $cardetails-background;
  border-radius: $border-radius--small;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.372);
  border: 2px solid $maincolor-primary;

  .cardetails__text {
    // background-color: $darker-primary;
    color: black;
  }
}

.single-car__img {
  max-width: 35rem;
}

.singlecar_container {
  table {
    margin: 0 auto;
    width: 90%;
    text-align: start;
    border-collapse: collapse;
  }

  th,
  td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    // white-space: nowrap;
  }

  th {
    background-color: #cecece;
  }

  .desc {
    font-size: 1.75rem;
  }

  .blind_row {
    border: none;
  }
}

.newcar_container {
  margin: 3rem auto;
  width: 80%;
  border: 2px solid $maincolor-primary;
  padding: 1rem;
  border-radius: $border-radius--small;
}

.about_container {
  // min-height: 90vh;
  padding: 2rem;
  max-width: 90%;
  margin: 5rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;

  .photo_container {
    background: url("https://images.unsplash.com/photo-1551522435-a13afa10f103?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    justify-self: end;
    max-height: 30rem;
    width: 40rem;
  }

  .text_container {
    width: 40rem;
    text-align: start;
    padding: 1rem;
  }
}

.login_container {
  .login_credentials {
    margin: 0 auto;
    padding: 4rem;
    width: 40rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
  }

  h3 {
    font-size: 2.25rem;
    margin: 0;
    align-self: flex-start;
  }
}

.loader {
  margin: 0 auto;
}
